body {
  background: #f7f9fc;
  font-family: "Inter", sans-serif;
}
.card {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.border-c {
  border: 1px solid #b9b9b9 !important;
}
