{% extends "users/dashboard/admin_dashboard_layout.html" %} {% block title %}
Fee Payments {% endblock %} {% block content %}

<div class="max-w-5xl mx-auto px-4 pt-6 pb-8">
  <div class="w-full flex items-center justify-between">
    <h2 class="text-xl font-semibold mb-3">Student Registration</h2>
    <form method="GET" class="flex gap-3 mb-4">
      <input
        type="text"
        name="q"
        value="{{ search_query }}"
        placeholder="Search student name..."
        class="border rounded px-3 py-2 w-64"
      />
      <button class="px-4 py-2 bg-gray-100 rounded">Search</button>
    </form>
  </div>
  <div class="w-full mx-auto bg-white p-6 rounded-md border py-6 space-y-8">
    <!-- <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Student Fee Payments</h2>
    </div> -->
    <!-- PAYMENT TABLE -->
    <div class="bg-white">
      <table class="min-w-full text-sm divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr class="text-left">
            <th class="px-4 py-2">Student</th>
            <!-- <th class=" px-4 py-2">Year</th> -->
            <th class="px-4 py-2">Semester</th>
            <th class="px-4 py-2">Initial Amount</th>
            <th class="px-4 py-2">Paid</th>
            <th class="px-4 py-2">Verified</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-100">
          {% for p in payments %}
          <tr>
            <td class="px-4 py-2">
              {{ p.student.get_full_name }}
              <div class="text-left text-xs">
                <span>ID: {{ p.generated_student_id }}</span>
                <!-- <span>PIN: {{ p.generated_pin }}</span> -->
              </div>
            </td>
            <!-- <td class="px-4 py-2"></td> -->
            <td class="flex flex-col text-left px-4 py-2">
              <span>{{ p.semester.name }}</span>
              <span class="text-xs text-gray-400"
                >({{ p.academic_year.name }})</span
              >
            </td>
            <td class="px-4 py-2">{{ p.amount_expected }}</td>
            <td class="px-4 py-2">{{ p.amount_paid }}</td>
            <td class="px-4 py-2">
              {% if p.is_verified %}
              <span class="text-green-600 font-semibold">Verified</span>
              {% else %}
              <span class="text-red-600 font-semibold">Pending</span>
              {% endif %}
            </td>
            <td class="px-4 py-2 space-x-3 space-y-1">
              {% if not p.is_verified %}
              <form method="POST" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="verify_payment" value="1" />
                <input type="hidden" name="payment_id" value="{{ p.id }}" />
                <button
                  class="text-xs text-blue-600 hover:underline cursor-pointer mr-4 border px-4 py-1"
                >
                  Verify
                </button>
              </form>
              {% endif %}

              <form method="POST" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="delete_payment" value="1" />
                <input type="hidden" name="payment_id" value="{{ p.id }}" />
                <button
                  class="text-xs text-red-600 hover:underline cursor-pointer border px-4 py-1"
                >
                  Delete
                </button>
              </form>
              <form
                method="GET"
                action="{% url 'payment_pdf' p.id %}"
                style="display: inline"
                class=""
              >
                <button
                  class="text-xs text-gray-700 hover:underline cursor-pointer border px-4 py-1"
                >
                  Save PDF
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="bg-white border rounded-md p-6 mb-8 mt-8">
    <h3 class="text-xl font-semibold mb-4">Program Fee Control</h3>

    <table class="min-w-full text-sm divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-4 py-2 text-left">Academic Year</th>
          <th class="px-4 py-2 text-left">Semester</th>
          <th class="px-4 py-2 text-left">Total Program Cost</th>
          <th class="px-4 py-2 text-left">Status</th>
          <th class="px-4 py-2 text-left">Action</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-100">
        {% for fee in fees %}
        <tr class="text-left">
          <td class="p-3">{{ fee.academic_year.name }}</td>
          <td class="p-3">{{ fee.semester.name }}</td>
          <td class="p-3 font-semibold">GHS {{ fee.total_amount }}</td>

          <!-- STATUS -->
          <td class="p-3">
            {% if fee.is_allowed %}
            <span class="text-green-600 font-semibold">Allowed</span>
            {% else %}
            <span class="text-red-600 font-semibold">Locked</span>
            {% endif %}
          </td>

          <!-- ACTION -->
          <td class="p-3 flex items-center gap-4">
            <form method="POST">
              {% csrf_token %}

              <input type="hidden" name="fee_id" value="{{ fee.id }}" />

              <button
                class="px-3 py-1 rounded text-sm font-semibold {% if fee.is_allowed %} bg-red-100 text-red-700 {% else %} bg-green-100 text-green-700 {% endif %}"
              >
                {% if fee.is_allowed %} Disable Editing {% else %} Allow Editing
                {% endif %}
              </button>
            </form>
            <form method="POST">
              {% csrf_token %}

              <input type="hidden" name="delete_fee" value="1" />
              <input type="hidden" name="del_fee_id" value="{{ fee.id }}" />

              <button
                class="px-3 py-1 rounded text-sm font-semibold {% if fee.is_archived %} border border-green-500 text-green-700 {% else %} border border-red-500 text-red-700 {% endif %}"
              >
                {% if fee.is_archived %} Recover {% else %} Archive {% endif %}
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="bg-white border rounded-md p-6 mb-8 mt-8">
    <h3 class="text-xl font-semibold mb-4">Semester Enrollment Control</h3>

    <table class="min-w-full text-sm divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-4 py-2 text-left">Semester</th>
          <th class="px-4 py-2 text-left">Academic Year</th>
          <th class="px-4 py-2 text-left">Registration Status</th>
          <th class="px-4 py-2 text-left">Action</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-100">
        {% for s in semesters %}
        <tr>
          <td class="px-4 py-2">{{ s.name }}</td>
          <td class="px-4 py-2">{{ s.academic_year.name }}</td>

          <td class="px-4 py-2">
            {% if s.sem_reg_is_active %}
            <span class="text-green-600 font-semibold">Active</span>
            {% else %}
            <span class="text-red-600 font-semibold">Inactive</span>
            {% endif %}
          </td>

          <td class="px-4 py-2">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="toggle_sem_reg" value="1" />
              <input type="hidden" name="semester_id" value="{{ s.id }}" />

              {% if s.sem_reg_is_active %}
              <button
                class="px-3 py-1 bg-red-600 text-sm text-white hover:bg-red-700 cursor-pointer"
              >
                Deactivate Sem Registration
              </button>
              {% else %}
              <button
                class="px-3 py-1 bg-green-600 text-sm text-white hover:bg-green-700 cursor-pointer"
              >
                Activate Sem Registration
              </button>
              {% endif %}
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if payments.has_other_pages %}
  <div class="flex justify-between items-center mt-4 text-sm">
    <div>Page {{ payments.number }} of {{ payments.paginator.num_pages }}</div>

    <div class="flex gap-2">
      {% if payments.has_previous %}
      <a
        href="?page={{ payments.previous_page_number }}&q={{ search_query }}"
        class="px-3 py-1 border rounded"
      >
        Prev
      </a>
      {% endif %} {% if payments.has_next %}
      <a
        href="?page={{ payments.next_page_number }}&q={{ search_query }}"
        class="px-3 py-1 border rounded"
      >
        Next
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div>
    <a
      href="{% url 'finance_export_payments_csv' %}"
      class="px-4 py-2 text-blue-600 border rounded text-sm hover:bg-gray-100"
    >
      Download Full Student Finance Data (CSV)
    </a>
  </div>
</div>

<!-- CREATE PAYMENT MODAL -->
<div
  id="createPaymentModal"
  class="w-full hidden fixed inset-0 flex items-center justify-center"
  style="backdrop-filter: blur(6px); background-color: rgba(255, 255, 255, 0.3)"
>
  <div
    class="bg-white mx-auto p-6 rounded-md border-c shadow-sm"
    style="width: 500px"
  >
    <h3 class="text-lg font-semibold mb-3">Add Payment</h3>

    <form method="POST" class="w-full">
      {% csrf_token %}
      <input type="hidden" name="create_payment" value="1" />

      <label class="block mb-1">Student</label>
      <select name="student_id" required class="w-full border px-3 py-2 mb-3">
        <option value="">-- Select Student --</option>
        {% for s in students %}
        <option value="{{ s.id }}">{{ s.get_full_name }}</option>
        {% endfor %}
      </select>

      <div class="flex items-center justify-between gap-4">
        <!-- PROGRAM -->
        <div class="w-full">
          <label class="block mb-1">Program</label>
          <select
            name="program_id"
            id="programSelect"
            class="w-full border px-3 py-2 mb-3"
            required
          >
            <option value="">-- Select Program --</option>
            {% for prog in programs %}
            <option value="{{ prog.id }}">{{ prog.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- LEVEL -->
        <div class="w-full">
          <label class="block mb-1">Level</label>
          <select
            name="level_id"
            id="levelSelect"
            class="w-full border px-3 py-2 mb-3"
            required
          >
            <option value="">-- Select Level --</option>
          </select>
        </div>
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="w-full">
          <label class="block mb-1">Academic Year</label>
          <select
            name="academic_year_id"
            required
            class="w-full border px-3 py-2 mb-3"
          >
            {% for y in years %}
            <option value="{{ y.id }}">{{ y.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="w-full">
          <label class="block mb-1">Semester</label>
          <select
            name="semester_id"
            required
            class="w-full border px-3 py-2 mb-3"
          >
            {% for sem in semesters %}
            <option value="{{ sem.id }}">{{ sem.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <label class="block mb-1">Expected Amount</label>
      <input
        name="amount_expected"
        type="number"
        required
        class="w-full border px-3 py-2 mb-3"
      />

      <label class="block mb-1">Amount Paid</label>
      <input
        name="amount_paid"
        type="number"
        class="w-full border px-3 py-2 mb-3"
      />

      <label class="block mb-1">Reference</label>
      <input name="reference" required class="w-full border px-3 py-2 mb-3" />

      <div class="flex justify-end space-x-2">
        <button
          type="button"
          onclick="closeCreatePayment()"
          class="px-4 py-2 border rounded-md"
        >
          Cancel
        </button>
        <button class="px-4 py-2 bg-blue-600 text-white rounded-md">
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  document
    .getElementById("programSelect")
    .addEventListener("change", function () {
      const programId = this.value;
      const levelSelect = document.getElementById("levelSelect");

      // Clear previous levels
      levelSelect.innerHTML = '<option value="">-- Select Level --</option>';

      if (!programId) return;

      fetch(`/users/admin/ajax/program-levels/${programId}/`)
        .then((response) => response.json())
        .then((data) => {
          data.levels.forEach((level) => {
            const opt = document.createElement("option");
            opt.value = level.id;
            opt.textContent = level.name;
            levelSelect.appendChild(opt);
          });
        })
        .catch((err) => console.error("Error loading levels:", err));
    });

  function openCreatePayment() {
    document.getElementById("createPaymentModal").classList.remove("hidden");
  }

  function closeCreatePayment() {
    document.getElementById("createPaymentModal").classList.add("hidden");
  }
</script>

{% endblock %}
